**/.DS_Store
.DS_Store

/website/
/libgit2/
/empower-learn/
/gitbutler-client/
/gitbutler-web/
/bot-hub/
/gitlab/
/gitbutler client/
/bun/
/aphid/
/livestore/
/gitbutler-docs/
/svelte/
/git2/
/ai-experiment/
/worktree-ai/
/empower-learn-backend/
/alan-empower-learn/
/sync-discord/
/gix-merge-bug-cloned/
/gitbutler-blog/
/diesel/
/example-merge/
/git/
/ruby/
/si/
/stationapi/