<p>Last updated <time datetime="2024-10-27">27th October 2024</time></p>
<article>
  <h1>Welcome to my little patch of the internet!</h1>

  <p>
    Hey there! I'm Caleb, a houseplant enthusiast, table top RPG player, board
    game lover, programmer, and coffee drinker.
    <br />
    <br />
    If you enjoy any of those things and want to chat, feel free to send me an
    email at
    <a href="mailto:hey@intherain.cloud">hey{{ '@' }}intherain.cloud</a>.
  </p>

  <section>
    <h2>About me</h2>

    <p>
      I come from <a href="https://en.wikipedia.org/wiki/Jersey">Jersey</a>, not
      the
      <a href="https://en.wikipedia.org/wiki/New_Jersey"
        >newfangled kind from America</a
      >, but the small island that sits in the
      <a href="https://en.wikipedia.org/wiki/English_Channel"
        >English channel</a
      >
      (or "La Manche" as the neighbors would prefer), about 15 miles from
      <a href="https://en.wikipedia.org/wiki/France">France</a> and 100 miles
      from <a href="https://en.wikipedia.org/wiki/England">England</a>.
    </p>

    <p>
      I eventually moved to England where I did my
      <a href="https://en.wikipedia.org/wiki/A-level">A-Levels</a>. It was about
      this time I found some friends who introduced me to
      <a href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game"
        >TTRPG</a
      >s. To this day I still play TTRPGs with this group. Over the summer
      holiday of my A-Levels I spent two months working at
      <a href="https://theideabureau.co/">The Idea Bureau</a>, a small software
      agency and gained some of my first professional experience.
    </p>

    <p>
      After completing my A-Levels, I chose to not go to university and started
      working for a wonderful company called
      <a href="https://stormconsultancy.co.uk/">Storm Consultancy</a> where I
      learned <a href="https://rubyonrails.org/">Ruby on Rails</a> and became a
      mid level software engineer. After two years I ended up leaving Storm for
      my current job to move to
      <a href="https://en.wikipedia.org/wiki/Germany">Germany</a>, working at
      <a href="https://gitbutler.com/">GitButler</a>.
    </p>
  </section>

  <section>
    <h2>What is this website?</h2>

    <p>
      This website can be thought of as a
      <a routerLink="/phrases/magpies-nest">magpie's nest</a>. A collection of
      things that seem interesting, notes, small projects, and experiments. I
      previously had a website which was meant to be some sort of fancy
      portfolio for employers or something, but realistically, that had no use
      to anyone - including myself! I've also had a growing desire to have a
      platform where I can just put stuff out on, without participating in
      congested social media platforms, so this version of the website was born.
    </p>
  </section>

  <section>
    <h2>Keeping content up to date</h2>

    <p>
      While I will endeavor to provide accurate and up to date information, I am
      unfortunately finite in my capacity. I try to maintain timestamps at the
      top of each page so you can gauge how relevant the information still is.
    </p>

    <h3>Spotted a mistake?</h3>

    <p>
      If you have spotted a mistake or a broken link, I would be keen to hear
      about it. Feel free to contact me at
      <a href="mailto:corrections@intherain.cloud"
        >corrections{{ '@' }}intherain.cloud</a
      >.
    </p>
  </section>
</article>
