---
// Navigation component
---

<header class="page-header">
  <nav>
    <h2>Main</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/phrases">Phrases</a></li>
      <li><a href="/thoughts">Thoughts</a></li>
    </ul>
  </nav>
  <nav>
    <h2>Tech</h2>
    <ul>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
  <nav>
    <h2>External</h2>
    <ul>
      <li>
        <a
          href="https://github.com/Caleb-T-Owens/Sherman/tree/main/projects/website4"
        >
          Website source code
        </a>
      </li>
    </ul>
  </nav>
</header>
