<p>Last updated <time datetime="2024-07-16">16th July 2024</time></p>

<article>
  <h1>Phrases</h1>

  <p>
    There are occasionally times where I will use a
    <a href="https://en.wikipedia.org/wiki/Terminology">term</a> or
    <a href="https://en.wikipedia.org/wiki/Phrase">phrase</a> that is local to
    where I grew up, or one that I have found for some inexplicable reason. I
    thought I'd write some of them down, if there are no good references that I
    can find elsewhere.
  </p>

  <ul>
    <li><a routerLink="/phrases/magpies-nest">Magpie's Nest</a></li>
  </ul>
</article>
