<h1>The Wistful Fox</h1>
<p>A conversation board</p>

<div class="auth-buttons">
  <% if authenticated? %>
    <%= link_to "My Profile", user_path(Current.user), class: "button" %>
    <%= button_to "Logout", session_path, method: :delete, class: "button" %>
  <% else %>
    <%= link_to "Login", new_session_path, class: "button" %>
    <%= link_to "Register", new_user_path, class: "button" %>
  <% end %>
</div>
