<p>Last updated <time datetime="2024-08-04">4th August 2024</time></p>

<article>
  <h1>Projects</h1>

  <p>
    I like to make small programs to solve problems that I encounter. Often the
    level of completion I aim for is for it to simply solve the problem that I
    was having in the first place.

    I'm not sure I would recommend one of my tools because there is a non-zero
    chance for them to delete half of your file system. Reguardless, I think
    there is still value, because, they have solved a problem I had, I learned
    something while writing them, and I probably had fun working on them.
  </p>

  <section>
    <h2>Patc</h2>
    <p>
      Status: Work in progress

      Patc is a little CLI tool for cloning and patching other git repositories.

      Because I tend to do my computing inside of a large monorepo, there are
      three ways that I can extend an external git repository.

      1. Merge and adopt the project into 
    </p>
  </section>

  <section>
    <h2>Aptfile</h2>
    <p>
      Status: Useful, but without guardrails
    </p>
  </section>

  <section>
    <h2>Project Cloner 2</h2>
    <p>
      Status: Useful
    </p>
  </section>

  <section>
    <h2>Sherman</h2>
    <p>
      Status: 
    </p>
  </section>

  <section>
    <h2>Puzzle Planner</h2>
    <p>
      Status: Work in progress
    </p>
  </section>

  <section>
    <h2>Website 3</h2>
    <p>
      Status: Useful
    </p>
  </section>
</article>
