<article>
  <h1><dfn>Magpie's Nest</dfn></h1>

  <p>
    <a href="https://en.wikipedia.org/wiki/Magpie">Magpie</a>'s are often
    attributed to
    <a href="https://en.wikipedia.org/wiki/Magpie#Europe"
      >collecting shiny objects</a
    >, and having messy nests. As such, if I were to describe something as a
    magpie's nest, I would mean that it is a messy collection of various
    curious, shiny objects. This however seems slightly juxtaposed to more
    typical usage. Firstly, searching on the internet, I've found that the term
    is not as popular as I thought. Collins dictionary lists that "magpie" can
    be used as a term to describe a person who likes hoarding items of small
    value
    <a href="https://www.collinsdictionary.com/dictionary/english/magpie"
      >(ref)</a
    >, and other sources seem to put more emphasis on a "magpie's nest" being
    full of stolen objects.
  </p>

  <p>
    Humorously enough,
    <a
      href="https://link.springer.com/article/10.1007/s10071-014-0794-4#auth-T__V_-Shephard-Aff1"
      >one study</a
    >
    from Exeter University which looked at a small sample of
    <a href="https://en.wikipedia.org/wiki/Eurasian_magpie">eurasian magpies</a>
    (pica pica), indicated that the the eurasian magpies didn't have any
    particular affinity to shiny objects, and in fact recorded a hesitancy to
    eat in the presence of shiny objects. The myth of magpies collecting shiny
    items is generally attributed to the popular 1821 opera
    <a href="https://en.wikipedia.org/wiki/La_gazza_ladra">La gazza ladra</a>
    (The Thieving Magpie)
  </p>

  <p>
    The magpie is supposed to be described on pages 666 to 672 in volume 3 of
    <a href="https://en.wikipedia.org/wiki/Historia_animalium_(Gessner_book)"
      >Historia animalium</a
    >, a book printed in 1555 by Conard Gesser. I very much enjoy reading old
    books and what they have to say about things, but alas, I cannot read nor
    write Latin. Unfortunately,
    <a href="https://en.wikipedia.org/wiki/Edward_Topsell">Topsell</a> left out
    the birds in his "The History of Four-Footed Beasts and Serpents", which
    drew strongly on the works of Gesser. If you can translate, or know of a
    translation, I would be incredibly keen to hear from you. Please send me an
    email at
    <a href="mailto:magpies@intherain.cloud">magpies{{ '@' }}intherain.cloud</a
    >.
  </p>
</article>
