:root {
  --color-text: rgb(25, 25, 25);
  --color-header: rgb(38, 59, 66);
  --color-anchor: rgb(0, 76, 102);
  --color-anchor-hover: rgb(12, 102, 132);
  --color-anchor-visited: rgb(83, 0, 102);
  --color-border: rgb(200, 200, 200);
  --color-code-bg: rgb(240, 240, 240);
  --color-background: rgb(255, 255, 255);
  --readable-width: 1000px;
}

* {
  box-sizing: border-box;
  font-family: georgia, "times new roman", times, serif;
}

html, body {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 18px;
}

html.font-large {
  font-size: 20px;
}

html.font-small {
  font-size: 15px;
}

p,
a,
legend,
label,
time,
i,
li {
  font-family: arial, helvetica, sans-serif;
}

/* don't style links inside headers */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: georgia, "times new roman", times, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-header);
}

h1 {
  font-size: 2em;
}

a {
  color: var(--color-anchor);

  &:visited {
    color: var(--color-anchor-visited);
  }

  &:hover {
    color: var(--color-anchor-hover);
  }
}

.website-title {
  text-decoration: none;
  color: var(--color-header);

  &:visited {
    color: var(--color-header);
  }

  &:hover {
    color: var(--color-anchor-hover);
    text-decoration: underline;
  }
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;

  justify-content: center;

  overflow-y: auto;

  @media (max-width: 700px) {
    overflow-y: unset;
  }

  padding: 0px 16px;
}

main {
  max-width: var(--readable-width);
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;

  padding: 16px;
  border-right: 2px solid var(--color-border);

  @media (max-width: 700px) {
    border-right: none;
    border-bottom: 2px solid var(--color-border);
  }

  h2 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 12px;
  }

  nav {
    margin-bottom: 8px;

    h4 {
      margin: 0;
      margin-bottom: 4px;
    }

    ul {
      display: flex;
      flex-direction: column;

      gap: 6px;

      margin: 0;
      padding: 0;
      padding-left: 8px;

      li {
        list-style-type: none;
      }
    }
  }
}

code {
  background-color: var(--color-code-bg);
}

.astro-code code {
  background-color: transparent;
}

.astro-code {
  background-color: var(--color-code-bg) !important;
  padding: 8px;
}

input[type="radio"] {
  width: 1.05rem; /* oh apple oh apple */
  height: 1rem;
  margin: 0.5rem;
}

.last-updated {
  position: relative;
  margin: 0;
  top: -26px;

  font-size: 0.8em;

  height: 0px;
}