<% content_for :side_bar do %>
  <nav>
    <b>Settings</b>
    <ul>
      <li><%= link_to "Profile", settings_profile_path, style: (current_page?(settings_profile_path) || current_page?(edit_settings_profile_path) ? "font-weight: bold;" : "") %></li>
      <li><%= link_to "Tokens", settings_tokens_path, style: (controller_name == "tokens" ? "font-weight: bold;" : "") %></li>
    </ul>
  </nav>
<% end %>

<% content_for :top_bar do %>
  - <%= @page_name %>
<% end %>
<%= render template: "layouts/application" %>