---
import FontSelector from "../components/FontSelector.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  canonicalUrl?: string;
}

const { title = "Caleb Owens", canonicalUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
  </head>
  <body>
    <h1 class="title">Caleb Owens' Website</h1>
    <FontSelector />
    <Navigation />
    <slot />
  </body>
</html>
