<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name.present? ? user.name : "User #{user.id}" %></td>
        <td><%= user.email_address %></td>
        <td><%= link_to "View", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>