<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name.present? ? user.name : "User #{user.id}" %></td>
        <td class="flex right"><%= link_to "View", user, class: "button small fill" %></td>
      </tr>
    <% end %>
  </tbody>
</table>