<h1><%= @user.name.present? ? @user.name : "User Profile" %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email_address %>
</p>

<% if @user == Current.user %>
  <div>
    <%= link_to "Edit Profile", edit_user_path(@user) %> |
    <%= link_to "Back", users_path %>
  </div>
<% end %>