<article>
  <h1>Welcome to Not A Forge</h1>

  <p>
    A simple frontend for GitHub with the intention of being as snappy as possible.
  </p>

  <% unless authenticated? %>
    <p>
      <%= link_to "Sign Up", signup_path %> or <%= link_to "Sign In", new_session_path %>
    </p>
  <% else %>
    <p>
      Welcome back! You are signed in as <%= Current.user.email_address %>.
    </p>
  <% end %>
</article>
